@model ArgCore.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}

<div id="ResetPassword" class="text-center">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h1>Reset your password</h1>
        @Html.Raw(Html.ValidationSummary("", new { @class = "text-danger" }).ToString().Replace("&lt;br /&gt;", "<br />"))
        @Html.HiddenFor(model => model.Code)
        <div class="resetForm">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <span class="col-md-3"></span>
                <div class="col-md-9 text-left">
                    <input type="submit" class="btn btn btn-lg btnResetYourPwd" value="Reset" />
                </div>
            </div>
        </div>
    }
</div>
