@model ArgCore.Models.VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
}
@{
    Layout = "~/Views/Shared/_AdminLayout_v1.cshtml";
}
<div id="VerifyCodeForm" class="text-center">
    @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, false, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("provider", @Model.Provider)
        @Html.Hidden("rememberMe", @Model.RememberMe)
        <h1>Enter verification code</h1>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="verifyCodeForm">
            <div class="form-group">
                @*@Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })*@
                @*<div class="col-md-10">*@
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control txtVerificationCode" })
                @*</div>*@
            </div>
            <div class="form-group checkbox">
                @Html.CheckBoxFor(m => m.RememberBrowser)
                @Html.LabelFor(m => m.RememberBrowser, new { @class = "lblRememberBrowser" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btnVerifyCode" value="Submit" />
            </div>
        </div>
    }
</div>