@* @model ArgCore.Models.CommissionRates
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Dashboard
<div class="main-content row">
    <div id="searchBlock" class="row">
        <div class="col-md-10 searchBlock">
        </div>
        <div class="col-md-2 text-right right addItem">
            <a href="/Commissions/Save?commissionId=0" title="Add Commission">+ Add Commission</a>
        </div>
    </div>
    <div id="SearchCommissionResults">
        @using (Html.BeginForm("Index", "Commissions", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.EnableClientValidation(false);
            @Html.HiddenFor(x => x.SearchOptions.CommissionId)
            <div class="commissionSearchForm">
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Company</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.SearchOptions.CompanyId, Model.Companies, "-- select company --", new { id = "ddlCompanies", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Region</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.SearchOptions.Regions, Model.Regions, new { id = "ddlRegions", multiple = "", @class = "form-control chzn-select" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Invoice#</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.SearchOptions.InvoiceNos, Model.InvoiceNos, new { id = "ddlInvoices", multiple = "", @class = "form-control chzn-select" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Invoice date between</label>
                    <div class="col-md-5 dateBlock">
                        <div class="col-md-5">
                            @Html.TextBoxFor(x => x.SearchOptions.InvoiceStartDate, null, new { @class = "form-control BDDatepicker" })
                        </div>
                        <label class="col-md-2">and</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(x => x.SearchOptions.InvoiceEndDate, null, new { @class = "form-control BDDatepicker" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Users</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.SearchOptions.UserIds, Model.Users, new { id = "ddlUsers", multiple = "", @class = "form-control chzn-select" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2">Status</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => x.SearchOptions.Status, Model.InvoiceStatus, new { id = "ddlStatus", multiple = "", @class = "form-control chzn-select" })
                    </div>
                </div>
                <div class="btnReasrItemInfo">
                    <button type="submit" class="btn btn-lg btnLoadData">Get Results</button>
                </div>
            </div>
        }
    </div>
    @if (Model.CommissionsList != null && Model.CommissionsList.Count > 0)
    {
        <table id="commissions-list" class="table text-center">
            <thead>
                <tr>
                    <th class="user">User</th>
                    <th class="company">Company</th>
                    <th class="region">Region</th>
                    <th class="invoice">Invoice</th>
                    <th class="invoiceDate">Invoice Date</th>
                    <th class="cId">Cust. Id</th>
                    <th class="customer">Customer Name</th>
                    <th class="bol">BOL#</th>
                    <th class="bolExecDate">BOL Execution Date</th>
                    <th class="amntDue">Amount Due USD</th>
                    <th class="status">Status</th>
                </tr>
            </thead>
            <tbody class="client-details">
                @foreach (var item in Model.CommissionsList)
                {
                    <tr>
                        <td class="user">@item.UserName</td>
                        <td class="company">@item.Company</td>
                        <td class="region">@item.Region</td>
                        <td class="invoice">@item.InvoiceNo</td>
                        <td class="invoiceDate">@item.InvoiceDate.ToString("d")</td>
                        <td class="cId">@item.CustomerId</td>
                        <td class="customer">@item.CustomerName</td>
                        <td class="bol">@item.BOLNo</td>
                        <td class="bolExecDate">@item.BolExecutionDate.ToString("d")</td>
                        <td class="amntDue">@item.AmountDueUSD</td>
                        <td class="status">@item.InvoiceStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @Html.Raw("<h3>No commissions found!</h3>")
    }
</div> *@