@using ArgCore.Helpers
@model ArgCore.Models.MappingsInfo
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.CommonObjects.Heading</title>
    <partial name="PageHeader" />
    <style>
        body {
            font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
            padding-top: 0 !important;
            background-color: #2d3e4e;
            padding: 0;
        }

        #logo {
            background-color: #212D39;
            text-align: center;
            /*height: 28%;*/
            padding: 5%;
        }

        .leftBlock {
            background-image: url('../../images/image-BG.png');
            background-position: center bottom;
            background-color: #2D3E4E;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        img.admin-img {
            margin-top: 5%;
        }

        h4, h5 {
            color: #fff;
        }

        h5.lastLogin {
            color: #7B828B;
        }

        .admin-image {
            text-align: center;
        }

        h5.site-admin {
            background-color: #475A6C;
            width: 25%;
            margin-left: 37%;
            padding: 2px;
            border-radius: 3px;
        }

        span.col-md-3 {
            text-align: right;
            color: #fff;
        }

        .main-dashboard.col-md-9 {
            background-color: #FFFFFF;
        }

        .techno.col-md-2 {
            margin-top: 2%;
            margin-left: -5%;
            color: #A3A2A3;
        }

        .bell.col-md-2 {
            margin-top: 2%;
            margin-left: -10%;
            color: #A3A2A3;
        }

        .search.col-md-2 {
            margin-top: 2%;
            margin-left: -10%;
            color: #A3A2A3;
        }

        .side-menu .static a {
            text-decoration: none;
        }

        a:hover {
            color: white;
        }

        .logout1 {
            float: right;
            color: #CDCDCD;
        }

        .head-online {
            font-size: 20px;
            color: #838182;
            font-weight: 700;
        }

        .scheduleDet {
            margin-bottom: 20px;
        }

        h5.second-content {
            font-style: italic;
            color: #7F7D7E;
        }

        li.static:active {
            background-color: #263643;
            border-right: 1px solid #5FCE9B;
        }

        .heading {
            padding-bottom: 30px;
        }

        .countDetails {
            text-align: center;
        }

        .label {
            width: 100%;
            top: 22.5%;
            position: absolute;
            left: 0;
            line-height: 34px;
        }

        .labelName {
            font-size: 23px;
            font-weight: normal;
        }

        .count {
            font-weight: normal;
            color: #9A9A9A;
            font-size: 40px;
            margin-top: 6%;
        }

        .labelText {
            font-size: 16px;
            line-height: 3;
            font-weight: normal;
            width: 68%;
            margin-left: 19%;
            margin-top: 22px;
        }

        .main-content {
            background-color: #F4F5F7;
            min-height: 1100px;
        }

        .dash2 {
            background-color: #FFFFFF;
        }

        h3.heading {
            color: #949393;
        }

        .active-title {
            margin-left: 10px;
        }

        .activelogDetails {
            margin-bottom: 20px;
            height: 45px;
        }

        .labelText h4 {
            color: #9A9A9A;
        }

        .welcome {
            color: #4E4B4A;
        }

        .recent-sign {
            color: #838182;
            background-color: #FFFFFF !important;
            border: 3px solid #EAEBEC !important;
            padding: 25px;
        }

        .activitylog, .log-price {
            padding: 12px;
            font-size: 20px;
        }

        .logtimedetails {
            padding: 0 20px;
            font-size: 18px;
        }

        .activity-log {
            color: #838182;
            background-color: #FFFFFF !important;
            border: 3px solid #EAEBEC !important;
            margin-left: 12px;
        }

        .uppercase-txt {
            text-transform: uppercase;
            color: white;
        }

        .no-padding {
            padding: 0;
        }

        .parent-menu-item {
            font-size: 18px;
        }

        .parent-menu-item a {
            color: white;
        }

        .bottom-block {
            padding-top: 12px;
        }

        .static {
            margin-bottom: 0 !important;
        }

        #colPush {
            -webkit-transition: width 0.3s ease, margin 0.3s ease;
            -moz-transition: width 0.3s ease, margin 0.3s ease;
            -o-transition: width 0.3s ease, margin 0.3s ease;
            transition: width 0.3s ease, margin 0.3s ease;
        }

        #trig {
            color: #4f4c4b;
            margin: 5px 10px 0 0;
            cursor: pointer;
        }

        .toggleLeftMenu {
            background-color: white;
        }

        .toggleLeftMenu a:hover {
            color: #4f4c4b;
        }

        .glyphicon-menu-hamburger {
            font-size: 24px;
        }

        .col-md-0 {
            display: none;
        }
    </style>
</head>
<body>
    <div id="admin-dashboard" class="row">
        @*id="cbp-spmenu-s2"  class="sidebar-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"*@
        <div id="colPush" class="col-md-3 leftBlock">
            <div class="scroll-view" tabindex="5000" style="overflow: hidden; outline: none;">
                <div id="logo">
                    <a href="@(Common.MyRoot)">
                        <img src="~/images/ARG-LOGO-DASHBOARD.png">
                    </a>
                </div>
                <div class="admin-info">
                    <div class="admin-image">
                        <img class="admin-img" src="~/images/ProfilePic.png">
                        <h5 class="site-admin">@Common.CurrentUserRole</h5>
                        <h4 class="per-name">@Common.CurrentUserName</h4>
                        @if (Common.GetCurrentUserLastLogin() != null)
                        {
                        <h5 class="lastLogin">Last Login: @Common.GetCurrentUserLastLogin()</h5>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <partial name="LeftMenu" />
            </div>
        </div>
        <div id="colMain" class="col-md-9 rightBlock">
            <div class="dash2 row">
                <ul class="main-dashboard content-container">
                    <li id="trig" class="toggleLeftMenu">
                        <a class="show-right-button" id="showRightPush"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                    </li>
                    <li>
                        <h1>
                            @if (Model != null && !string.IsNullOrWhiteSpace(@Model.CommonObjects.TopHeading))
                            {
                            @Model.CommonObjects.TopHeading
                            }
                            else
                            {
                                var heading = new Common.CommonObjects().TopHeading;
                            @Html.Raw(heading);
                            }
                        </h1>
                    </li>
                    @*<li>
                            <img src="/images/techno.png">
                        </li>
                        <li>
                            <img src="/images/bell.png">
                        </li>
                        <li>
                            <img src="/images/search.png">
                        </li>*@
                    <li class="right text-right rightOptions">
                        <a href="~/Account/LogOff">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="content-container">
                    <div id="MappingsInfo" class="main-content row">
                        <h2>Manage Mappings for file: </h2>@Model.File
                        <div class="SaveMappings">
                            <h4>Please select the values:</h4>
                            @using (Html.BeginForm("SaveMappings", "Import", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.SelectedColumnIndex, Model.HeadersList, "-- select header --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.SelectedColumnIndex)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("SelectedTable", Model.TablesList, "-- select table --", new { @class = "form-control" })
                                    @Html.ValidationMessage("SelectedTable")
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("SelectedColumn", Enumerable.Empty<SelectListItem>(), "-- select column --", new { @class = "form-control" })
                                    @Html.ValidationMessage("SelectedColumn")
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.File)
                            @Html.HiddenFor(x => x.SelectedHeaderName)
                            <div class="col-md-12" style="margin-top:15px;padding:0;">
                                <button type="submit" class="btn btn-lg btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                                @*<button type="button" class="bootbox-close-button btn btn-lg CancelButton right text-right"><i class="fa fa-ban"></i> Cancel</button>*@
                            </div>
                            }
                        </div>
                        @if (Model.Mappings != null && Model.Mappings.Count > 0)
                        {
                        <table id="clients-list" class="table text-center">
                            <thead>
                                <tr>
                                    <th class="srcCol">Source Column</th>
                                    <th class="srcColIndex">Source Column Index</th>
                                    <th class="targTab">Target Table</th>
                                    <th class="targCol">Target Column</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="client-details">
                                @foreach (var item in Model.Mappings)
                                    {
                                <tr>
                                    <td class="srcCol">@item.SourceColName</td>
                                    <td class="srcColIndex">@item.SourceColIndex</td>
                                    <td class="targTab">@item.TargetTableName</td>
                                    <td class="targCol">@item.TargetColName</td>
                                            <td class="delete"><a href="~/Import/Delete?mappingId=@item.MappingId&file=@Model.File"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                    }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="PageFooter" />
    <script src="~/Scripts/MappingsInfo.js"></script>
</body>
</html>