@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Save Template Category";
}
@model ArgCore.Models.TemplateCats
<div id="AddTemplateCat" class="main-content row">
    @using (Html.BeginForm("Save", "TemplateCats", FormMethod.Post, new { id = "frmSaveTemplateCat", @class = "form-horizontal" }))
    {
        <h2>@Model.CommonObjects.Heading</h2>
        @Html.HiddenFor(x => x.TemplateCatDetail.CatId)
        <div class="form-group">
            <label for="inputUrl" class="mylabel control-label col-md-1">Name</label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.TemplateCatDetail.Name, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TemplateCatDetail.Name)
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div class="row errormessage">
                @Html.Raw(Model.ErrorMessage)
            </div>
        }
        <div class="btnReasrItemInfo">
            <div class="col-xs-12 col-md-4">
                @Html.ActionLink("Delete", "Delete", "TemplateCats", new { catId = @Model.TemplateCatDetail.CatId }, new { @class = "btn btn-lg btnDelete" })
                @* <button type="button" class="btn btn-lg btnDelete"><i class="fa fa-trash-o"></i> Delete</button>*@
            </div>
            <div class="col-xs-12 col-md-8 right text-right">
                <button type="submit" class="btn btn-lg btnSave"><i class="fa fa-floppy-o"></i> Save</button>
                <button type="button" class="btn btn-lg btnCancel"><i class="fa fa-ban"></i> Cancel</button>
            </div>
        </div>
    }
</div>