@{
    ViewBag.Title = Arg.Terms.Resource1.pgTitleManageMemberships;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divmain">
    <fieldset>
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" id="ddlusers"></select>
            </div>
            <div class="col-sm-2">
                <button id="btnupdate" class="btn btn-primary">
                    <i class="mdi mdi-check-circle icnwht"></i> @Arg.Terms.Resource1.btnUpdate
                </button>
            </div>
            <div class="col-sm-2 reccount"><span class="reccount" id="reccount"></span></div>
        </div>
        <div class="row gridhdr">
            <div class="col-md-1">@Arg.Terms.Resource1.lblID</div>
            <div class="col-md-3">@Arg.Terms.Resource1.lblGroupName</div>
            <div class="col-md-1">@Arg.Terms.Resource1.lblIsActive</div>
            <div class="col-md-1">@Arg.Terms.Resource1.lblIsMember</div>
        </div>
        <div data-bind="foreach:items">
            <div class="row">
                <div class="col-md-1" data-bind="text:userid"></div>
                <div class="col-md-3" data-bind="text:groupname"></div>
                <div class="col-md-1" data-bind="if: isactive=true"><i class="mdi mdi-check icngrn"></i></div>
                <div class="col-md-1"><input type="checkbox" data-bind="checked:ismember" value="1" /></div>
                <div class="col-md-1"><input type="text" class="smbox hide" data-bind="value:userid" /></div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts {
    <script>
        var userid = "@ViewBag.userid";
        $(document).ready(function () {
            InitializeViewModel();
            getDataX("ddlusers", loadddlusers);
            initPage();
        });

        // load view model so Knockout can bind to it
        function loadddlusers(response) {
            try {
                log.info("get response: load ddl users");
                $('#ddlusers').find('option').remove().end().append('<option value="">** Select User **</option>');

                for (i = 0; i < response.length; i++) {
                    var opt = "<option value='" + response[i].id + "'>" + response[i].txt + "</option>";
                    $("#ddlusers").append(opt);
                }
                $("#ddlusers").val(userid);
                $("#ddlusers").prop("width:300px;");
                $("#ddlusers").on("change", switchUser);
            } catch (e) {
                log.error("load ddl : " + e.message);
                setMessage("load ddl : " + e.message, "error");
            }
        }
        function initPage() {
            setProgressBar();
            getData("memberships", userid);
        }

        function switchUser() {
            var uid = $("#ddlusers").val();
            var url = '@Url.Action("ManageMemberships", "Admin")';
            url = url.substring(0, url.lastIndexOf("/"));
            location.href = url + "/" + uid;
        }

        function InitializeViewModel() {
            ko.applyBindings(viewModel, $("#divmain")[0]);
        }

        // load view model so Knockout can bind to it
        function getDataResponse(response) {
            log.info("get response");
            viewModel.items([]);
            try {
                for (i = 0; i < response.length; i++) {
                    viewModel.items.push(response[i]);
                }
                $("#reccount").text("Records: " + response.length);
                $("#btnupdate").on("click", sendData);
                finishProgressBar();
            } catch (e) {
                log.error("get response: " + e.message);
                setMessage("get data error: " + e.message, "error");
            }
        }
        // send record to web service for insert or update
        function sendData() {
            log.info("sendData");
            // send update: convert data set to JSON
            try {
                var jdata = ko.toJSON(viewModel.items);
                log.info("ready to submit changes:");
                $.ajax({
                    url: "/api/memberships/" + userid,
                    type: "POST",
                    data: jdata,
                    processData: true,
                    contentType: "application/json",
                    dataType: "json",
                    length: jdata.length,
                    success: function (result) {
                        setDBMessage(result, "#divmessage");
                        initPage();
                    },
                    error: function (result) {
                        setDBMessage(result, "#divmessage");
                    }
                });
            } catch (e) { log.info(e.message); }
        }
    </script>
}