@using ArgCore.Helpers
@{
    Layout = "";
}
@model ArgCore.Models.BOLAuditingResults
<!DOCTYPE html>
<html lang="en">
<head>
    <title>BOL Auditing Result Stats</title>
    <partial name="PageHeader" />
    <style>
        body {
            padding: 0;
            background-color: #F4F5F7 !important;
        }
    </style>
    <script src="https://rawgit.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
    <script src="https://rawgit.com/mozilla/pdf.js/master/web/compatibility.js"></script>
</head>
<body>
    <div id="BOLAudResultStats" class="main-content row">
        @{
            var queryId = Context.Request.Query["queryId"];
            var groupType = Context.Request.Query["group"];
        }

        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            @Html.Raw(Model.Message)
            return;
        }
        @{
            if (Model.ShipmentJournalAuditResultStats == null)
            {
                <div class="form-group">
                    <label for="inputUrl" class="mylabel control-label col-md-2 stats-Filter">Select Filter</label>
                    <div class="col-md-3">
                        @Html.DropDownList("Stats-filter-list", new SelectList(Common.StatsFilterList, "Value", "Text", groupType), "---Select---", new { data_queryid = queryId, @class = "form-control" })
                    </div>
                </div>
            }
        }
        @if (Model.BolAuditResultStats != null && Model.BolAuditResultStats.Any() || Model.AgilityBolAuditResultStats != null && Model.AgilityBolAuditResultStats.Any())
        {
            <div class="right pull-right">
                @if (!string.IsNullOrEmpty(Model.SpreedSheetUrl))
                {
                    if (Model.SpreedSheetUrl.Contains("re-login"))
                    {
                        @Html.Raw(Model.SpreedSheetUrl)
                    }
                    else
                    {
                        <a class="btn btn-primary" target="_blank" href="@Model.SpreedSheetUrl">Output to Spreadsheet</a>
                    }
                }
                else
                {
                    <a class="btn btn-primary" target="_blank" href="@Model.SpreedSheetUrl">Output to Spreadsheet</a>
                }
            </div>
            <table id="stats-list" class="table text-center">
                <thead>
                    <tr>
                        <th class="options">Options</th>
                        <th class="shipperId">Shipper ID</th>
                        <th class="partName">Participant Name</th>
                        <th class="origin">Origin</th>
                        <th class="destination">Destination</th>
                        <th class="shippCount">Shippment Count</th>
                        <th class="minCharge">Min. Charges</th>
                        <th class="maxCharge">Max. Charges</th>
                        <th class="difference">Difference</th>
                        <th class="stndDvation">Standard Deviation</th>
                    </tr>
                </thead>
                <tbody class="client-details">
                    @if (Model.BolAuditResultStats != null && Model.BolAuditResultStats.Any())
                    {
                        foreach (var item in Model.BolAuditResultStats)
                        {

                            //var url = HttpContext.Current.Request.Url;

                            //string queryId = HttpUtility.ParseQueryString(url).Get("queryId");
                            <tr>
                                <td>
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)BOL/Index?shipperId=@item.ShipperID&orig=@item.Origin&dest=@item.Destination&queryId=@queryId&CompanyId=@Model.CompanyId">View </a>|
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)Bol/AuditingResults?shipperId=@item.ShipperID&orig=@item.Origin&dest=@item.Destination&stats=stats&queryId=@queryId&idx=1"> Auditing results screen </a>|
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)Bol/ViewAuditingResultTableFormat?shipperId=@item.ShipperID&orig=@item.Origin&dest=@item.Destination&stats=stats&queryId=@queryId"> Auditing table results</a>
                                </td>
                                <td class="shipperId">@item.ShipperID</td>
                                <td class="partName">@item.ParticipantName</td>
                                <td class="origin">@item.Origin</td>
                                <td class="destination">@item.Destination</td>
                                <td class="shippCount">@item.ShipmentCount</td>
                                <td class="minCharge">@item.MinCharges.ToString("F")</td>
                                <td class="maxCharge">@item.MaxCharges.ToString("F")</td>
                                <td class="difference">@item.Difference.ToString("F")</td>
                                <td class="stndDvation">@item.StandardDeviation.ToString("F")</td>
                            </tr>
                        }
                    }

                    @if (Model.AgilityBolAuditResultStats != null && Model.AgilityBolAuditResultStats.Any())
                    {
                        foreach (var item in Model.AgilityBolAuditResultStats)
                        {
                            <tr>
                                <td>
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)BOL/Index?shipperId=@item.Shipper&orig=@item.Origin&dest=@item.Destination&queryId=@queryId">View </a>|
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)Bol/AuditingResults?shipperId=@item.Shipper&orig=@item.Origin&dest=@item.Destination&stats=stats&queryId=@queryId&idx=1"> Auditing results screen </a>|
                                    <a target="_blank" class="ViewAuditStats" href="@(Common.MyRoot)Bol/ViewAuditingResultTableFormat?shipperId=@item.Shipper&orig=@item.Origin&dest=@item.Destination&stats=stats&queryId=@queryId"> Auditing table results</a>
                                </td>
                                <td class="shipperId">@item.Shipper</td>
                                <td class="partName">@item.ParticipantName</td>
                                <td class="origin">@item.Origin</td>
                                <td class="destination">@item.Destination</td>
                                <td class="shippCount">@item.ShipmentCount</td>
                                <td class="minCharge">@item.MinCharges.ToString("F")</td>
                                <td class="maxCharge">@item.MaxCharges.ToString("F")</td>
                                <td class="difference">@item.Difference.ToString("F")</td>
                                <td class="stndDvation">@item.StandardDeviation.ToString("F")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else if (Model.ShipmentJournalAuditResultStats != null && Model.ShipmentJournalAuditResultStats.Any())
        {
            <table id="stats-list" class="table text-center">
                <thead>
                    <tr>
                        <th class="Region">Region</th>
                        @*<th class="options">Issuing Dept</th>*@
                        @*<th class="shipperId">Shipper/Consignee</th>*@
                        <th class="origin">Origin</th>
                        @*<th class="destination">Dest</th>*@
                        <th class="shippCount">Shippment Count</th>
                    </tr>
                </thead>
                <tbody class="client-details">
                    @if (Model.ShipmentJournalAuditResultStats != null && Model.ShipmentJournalAuditResultStats.Any())
                    {
                        foreach (var item in Model.ShipmentJournalAuditResultStats)
                        {
                            <tr>
                                <td class="Region">@item.RegionDescription</td>
                                @*<td class="shipperId">@item.Issuing_Dept</td>*@
                                @*<td class="partName">@item.Shipper_Consignee</td>*@
                                <td class="origin">@item.origin</td>
                                @*<td class="destination">@item.dest</td>*@
                                <td class="shippCount">@item.ShipmentCount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
    <partial name="PageFooter" />
</body>
</html>