@using ArgCore.Helpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Templates";
}
@model ArgCore.Models.Templates
@if (Model == null)
{
    return;
}
<div id="TemplatesList" class="main-content row">
    <div class="row text-right right options exportIcon">
        <img src="~/images/export.png" />
    </div>
    <div id="searchBlock" class="row">
        <div class="col-md-10 searchBlock">
            <input id="txtSearch" type="text" name="searchquery" class="form-control txtSearch" placeholder="Type here to search...">
            <a id="btnSearch" class="Search" href="javascript:void(0);"><span class="fa fa-search"></span></a>
        </div>
        <div class="col-md-2 text-right right addItem">
            <a href="~/Templates/Save?templateId=0" title="Add Template">+ Add Template</a>
        </div>
    </div>
    @if (Model.TemplatesList != null && Model.TemplatesList.Any())
    {
        <table id="templates-list" class="table text-center">
            <thead>
                <tr>
                    <th class="name">Name</th>
                    @*<th class="content">Content</th>*@
                    <th class="category">Category</th>
                    <th class="subject">Email Subject</th>
                </tr>
            </thead>
            <tbody class="template-details">
                @foreach (var temp in Model.TemplatesList)
                {
                    <tr>
                        <td>
                            <a href="~/Templates/Save?templateId=@temp.TemplateId" title="Edit Template">@temp.Name</a>
                        </td>
                        @*<td>@Html.Raw(temp.Content)</td>*@
                        <td>@temp.CategoryName</td>
                        <td>@temp.EmailSubject</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        @Html.Raw("<h3>No templates found!</h3>")
    }
</div>